body {
    margin: 0;
    background-color: #1f1f1f;
}
h2 {
    color: #d6d4d0;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}
input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #1f1f1f;
    border-left: 2px solid rgb(207, 207, 204);
    box-shadow: 0 0 10px #0001;
    background-color: transparent;
    color: #ddd;

}

option {
    background-color: #1f1f1f;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;

}

.form_input {
    padding:6px 20px;
}

form {
    background-color: transparent;
    padding: 10px 0;
    padding-bottom: 20px;
    max-width: 600px;
    margin:auto;
    box-shadow: 0 0 20px #00000086;
    margin-top: 25px;
    border-radius: 5px;

} 

label {
    font-family: sans-serif;
    color: #ddd;
    font-size: 0.9em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}