body{
    color: brown; /*Herencia*/
    font-family: sans-serif;
    padding: 50px;

}

div{
    color: blue;
    background-color: cyan;
    padding: 20px;
}

h1{
    color: red; /*Cambia la propiedad*/
    background-color: pink;
    padding: 10px;
}



h2{
    color: inherit; /*Valor por defecto, heredando de su superior DIV*/
    background-color: lightgreen;
    padding: 7px;
}

p{
    background-color: lightsalmon;
    padding: 5px;
}