
body {
    margin: 0;
    background-color: rgb(222, 255, 238);
    font-family: sans-serif;
}

.contenedor {
    border: 2px solid black;
    margin: 50px 50px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
}

.box--blue{
    background-color: blue;
    position: absolute; /*No ocupa lugar en la pagina -- Busca a su padre y se posiciona resecto de su elemento relativo o elemento raiz*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.box--red{
    background-color: red;

}

