.box {
    margin: 0;
    padding: 0;
    border: 0;
    width: 400px;
    height: 400px;
    background: radial-gradient(blue, black); 
    border-radius: 50px; 
}

body {
background: linear-gradient(to top, rgb(158, 17, 99), black);
}

p {
    padding: 150px 0px 150px 20px;
    text-align: center;
    font-size: 40px;
    color: blue;
    transform: rotate(45deg);
}

span {
    color: black;
}