body{
    margin: 0;
}
div{
    padding: 20px;
    background: lightgray;
    font-family: sans-serif;
    border-left: 2px solid grey;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 25px;
}

span {
    font-size: 0.5em;
    color: darkgray;
    font-style: italic;
    font-weight: 100;
}

p{
    color: rgb(83, 83, 83);
}